* {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    width: 20vw;
    height: 30vh;
    margin: 0 auto 0 auto;
    background: rgba(179, 6, 6, 0.71);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;

}

body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url("bg_emergency.png");
    background-repeat: repeat;
    backdrop-filter: blur(1px);
}