* {
    box-sizing: border-box;
    margin: 0;
    color: white;
    text-transform: lowercase;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

.w-100 {
    width: 100%;
}

h1 {
    font-size: 3.5em;
}

a {
    text-decoration: none;
    font-weight: bold;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.one-form-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.main-container {
    width: 30%;
    height: 55vh;
    margin: 10rem auto 0 auto;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    width: 100%;

}

.form-header {
    height: 10%;
}

.form-content > div {
    height: 75%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.form-content {
    width: 100%;
}

.form-content p {
    margin: 2em auto 2em auto;
    font-size: 1.2em;
}

.form-content input, .form-content textarea {
   padding: 0.4em;
   font-size: 1.2em;
   color: black;
   resize: none;
   width: 100%;
}

.form-button-pane {
    height: 15%;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

input#submit {
    padding: 1rem 2rem 1rem 2rem;
    font-size: 2em;
    border-radius: 4px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
}

/* Emergency */

body.emergency {
    background: rgba(255, 207, 150, 0.7);
}

body.emergency * {
    text-shadow: 1px 1px rgba(235, 84, 84, 1);
}

.main-container#emergency-container {
    background: rgba(255, 128, 128, 1);
    border: 1px solid rgba(235, 84, 84, 1);
}

body.emergency .form-content input {
   border: 1px solid rgba(235, 84, 84, 1);
}

.submit-btn-emergency > input#submit {
    background: #f1c962;
    border: 1px solid #edb933;
    color: black;
    text-shadow: 1px 1px white;
}

.submit-btn-emergency > input#submit:hover {
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: #f2d537;
}

/* Patient */

body.patient {
    background: rgba(189, 248, 248, 0.7);
}

body.patient * {
    text-shadow: 1px 1px rgba(102, 150, 151, 1);
}

.main-container#patient-container {
    background: rgba(128, 188, 189, 1);
    border: 1px solid rgba(102, 150, 151, 1);
}

body.patient .form-content input {
   border: 1px solid rgba(102, 150, 151, 1);
}

.submit-btn-patient > input#submit {
    background: #f1c962;
    border: 1px solid #edb933;
    color: black;
    text-shadow: 1px 1px white;
}

.submit-btn-patient > input#submit:hover {
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: #f2d537;
}

/* Doctor */

body.doctor {
    background: rgba(191, 246, 195, 0.7);
}

body.doctor * {
    text-shadow: 1px 1px rgba(102, 150, 151, 1);
}

.main-container#doctor-container {
    width: 60%;
    height: 80vh;
    background: rgba(176, 235, 180, 1);
    border: 1px solid rgba(172, 225, 175, 1);
}

body.doctor .form-content input {
   border: 1px solid rgba(172, 225, 175, 1);
}

.submit-btn-doctor > input#submit {
    background: #f1c962;
    border: 1px solid #edb933;
    color: black;
    text-shadow: 1px 1px white;
}

.submit-btn-doctor > input#submit:hover {
    box-shadow: 0 6px 50px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    background: #f2d537;
}

.doctor-content {
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.view-record-form, .add-record-form {
    width: 40%;
}

/* Home */

body.home {
    background: rgba(224, 174, 208, 0.7);
}

body.home * {
    text-shadow: 1px 1px rgba(102, 150, 151, 1);
}

.main-container#home-container {
    background: rgba(172, 135, 197, 1);
    border: 1px solid rgba(117, 106, 182, 1);
}

body.home .form-content input {
   border: 1px solid rgba(172, 225, 175, 1);
}

.home-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

}

div.home-content {
    height: 85%
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer {
    height: 5%;
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.home-wrapper li {
   list-style: none;
   font-size: 2em;
}

/* Medical record */
.medical-record-content {
    height: 90%;
}

p.add-record-textarea textarea {
    border: 1px solid rgba(172, 225, 175, 1);
}

.record-data-container {
    display: flex;
    flex-direction: column;
}

.record-data-header > p {
    padding: 6px;
    font-size: 2em;
}

.record-data-content > p {
    padding: 6px;
}
